<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <%- include('partials/favicon.ejs'); -%>
        <title>Pergunta</title>
</head>

<body>

    <%- include('partials/navbar.ejs'); -%>
        <div class="container">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h1>
                        <%= question.title %>
                    </h1>
                </div>
                <div class="card-body">
                    <p>
                        <%= question.description %>
                    </p>
                    <hr>
                    <form method='POST' action="/answer">
                        <h3>Responda</h3>
                        <label for="">Resposta: </label>
                        <textarea placeholder="Digite sua resposta" class='form-control' name='body'></textarea>
                        <br>
                        <input type="hidden" name='question' value="<%= question.id %>">
                        <button type='submit' class='btn btn-primary'>Responder</button>
                    </form>
                    <hr>

                </div>
            </div>
            <h3>Respostas</h3>
            <hr>
            <% answers.forEach(answer=> { %>
                <div class="card">
                    <div class="card-body">
                        <p>
                            <%= answer.body %>
                        </p>
                    </div>
                </div>
                <br>
                <% }) %>
        </div>
        <hr>
</body>
<%- include('partials/footer.ejs'); -%>